h1 {
  font-size: 100px;
  background: repeating-linear-gradient(
    -45deg,
    red 0%,
    yellow 7.14%,
    rgb(0, 255, 0) 14.28%,
    rgb(0, 255, 255) 21.4%,
    cyan 28.56%,
    blue 35.7%,
    magenta 42.84%,
    red 50%
  );
  background-size: 600vw, 600vw;

  /* text 색상을 지정한다. */
  -webkit-text-fill-color: transparent;
  /* 배경은 이미지가 텍스트 컬러 안에 칠해진다. */
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
/* keyframes와 animation은 짝꿍이다. */
@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
