* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  gap: 30px;
  background-color: #1d2b3a;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  background-color: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 2px;
  pointer-events: none;
  transition: 0.5s;
}

/* valid : Input내용이 유효했을때 스타일 지정 */
/* focus : Input내용이 마우스로 지정 되었을 때 스타일 지정 */
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-15px);
  background-color: #1d2b3a;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #00dfc4;
}
